.text-blog{
    font-size: 2.5rem;
    color: #82f3d5;
    /* padding: 5rem; */
}
.main-blog{
    background-color: black;
    margin-top: 2px;
    padding: 5rem;
}
.inner-blog{
    display: flex;
   /* justify-content: center; */
   /* border: 2px solid red; */
   /* padding: 5rem; */
   gap: 2em;
   /* height: 50vh; */
   padding: 2rem;
   /* margin: 5rem; */
   margin-top: 8rem;
  margin-bottom: 9rem;
}
.blog-image{
    /* border: 2px solid red;    */
    /* margin: 5rem; */
    /* padding: 4rem; */
    /* padding: srem; */
    display: flex;
    justify-content: center;

}
.blog-content{
    /* margin: 5rem; */
    /* border: 2px solid red;    */
    display: flex;
    flex-direction: column;
    gap: 3rem;
    /* width: 40rem; */
}
.blog-main-heading{
    /* border: 2px solid red;  */
    font-size: 2.4em;  
    color: bisque;
}
.blog-2{
    font-size: 1.5rem;
}
.image{
    /* width: 35rem; */
    /* height: 19rem; */
    /* height: 100%; */
    
}

.blog-button{
    color: rgb(90, 157, 220);
    font-size: 1.5rem;
    /* background-color: #82f3d5; */
    width: 10rem;
    margin-left: 1rem;
    margin-top: -1rem;
}
.blog-button:hover{
    color: rgb(243, 117, 117);
    /* background-color: aliceblue; */
    cursor: pointer;
}
@media screen and (max-width: 900px) {
    .inner-blog{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4em;
    }
    .blog-image{
        /* border: 2px solid red;    */
        /* margin: 5rem; */
        /* padding: 4rem; */
        /* padding: srem; */
        /* display: flex;
        justify-content: center; */
        height: 20rem;
    
    }
    .blog-2{
        font-size: 1.5rem;
    }
    .inner-blog{
       
       margin-top: 0 !important;
      margin-bottom: 0rem !important;
    }
} 

@media screen and (max-width: 500px) {
    .blog-2{
        font-size: 1rem;
        text-align: justify;
  text-justify: inter-word;
    }
} 