.Summit-main{
    background-color: black;
    margin-top: 2px;
}
.heading-summit{
  font-size: 2.5rem;
  color: #82f3d5;
  padding-top: 2em;
}
.corousel{
  display: flex;
  align-items: center;
  justify-content: center;
}