.team-section{
    background-color: black;
    height: auto;
    margin-top: 2px;
  }
  .inner-team-section{
    width: 75%;
    margin: 0 auto;
  }
  .team-card{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: auto;
    
    /* margin-top: 1em; */
    /* background-color: #0072b1; */
  }
  .team-card:hover{
    /* background-color: #ed7676; */
    transform: translateY(-10px);
    cursor: pointer;
  }
  .team-card-image img{
    height: 250px;
    width: 250px;
    border-radius:50% ;
  }
  .team-card-image{
   width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
  
  }
  .team-card-container{
    display: flex;
    gap: 5em;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2em;
    padding: 5em 3em;
  }
  .team-card-heading p{
    /* line-height: em; */
    font-size: 1.16em;
    color: #9a9a9a;
  }
  .team-card-social-links{
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
    font-size: 1.4em;
    transition: all .38s ease;
  }
  .team-card-social-links a:hover{
    color: rgb(238, 117, 181);
    /* background-color: blue; */
    transform: scale(1.2);
  }
  .team-card-social-links a{
    color: white;
  }
  .text{
    font-size: 2.5rem;
    padding-top: 5rem;
  }
  .team-section-heading{
  }