@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
 
}
button{
  cursor: pointer;
}



.about-section{
  height: 90vh;
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2em;  
  margin-top: 2px;
  align-items: center;
  justify-content: center;
  /* background-color: black; */
}
.about-section-content{
  font-size: 1.9em;
  display: flex;
  /* justify-content: space-between; */
}
.about-section-heading{
  font-size: 2em;
}
.about-section1{
  background-color: black;
}
.domain-section{
  background-color: black;
  margin-top: 2px;
  height: 90vh;
 
}
.inner-domain-section{
  width: 75%;
  margin: 0 auto;
}
.domain-section-heading{
  display: flex;
  justify-content: center;
  font-size: 2em;
  
}
.card{
  display: flex;
  margin-top: 2em;
  justify-content:center;
  width: 50%;
  gap: 1.5em;
  align-items: center;
flex-direction: column;

}
.card-image{
  width: 100%;
}
.card-image img{
  width: 100%;
}
.card-text-heading{
  font-size: 1.5em;
  display: flex;
  justify-content: center;
}
.card-text-text{
  font-size: 1.3em;
  width: 100%;
}
.card-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-section{
  background-color: black;
  height: auto;
  margin-top: 2px;
}
.inner-team-section{
  width: 75%;
  margin: 0 auto;
}
.team-card{
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: auto;
  /* margin-top: 1em; */
  /* background-color: #0072b1; */
}
.team-card-image img{
  height: 250px;
  width: 250px;
  border-radius:50% ;
}
.team-card-image{
 width: 100%;
 height: auto;
 display: flex;
 justify-content: center;
 align-items: center;

}
.team-card-container{
  display: flex;
  gap: 5em;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 2em;
  padding: 5em 3em;
}
.team-card-heading p{
  /* line-height: em; */
  font-size: 1.16em;
  color: #9a9a9a;
}
.team-card-social-links{
  display: flex;
  justify-content: space-evenly;
  gap: 2em;
  font-size: 1.4em;
}
.team-card-social-links a{
  color: white;
}